*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #c7c7c7;
}



.container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;

}

.container div {
    height: 570px;
    width: 570px;
    flex-grow: 1;

}
.container img{
    height: 100%;
    width: 100%;
    transform: scale(1s);
    border: 13px solid #eef2f34;
    border-radius:13px;
}

.container img:hover{
    transform:scale(1.1)
}




